
.config-list {
    padding: 15px;
    .configs-head{
        padding-bottom: 20px;
    }

    .configs-row {
        display: flex;
        // border: 1px solid grey;
        border-radius: 2px;
        background-color: white;
        margin-bottom: 5px;
        padding: 5px 0px 5px 5px;
      

        // align-items: center;
        
        
        .state-step,
        .state-state {
            display: flex;
            align-items: center;
            padding-left: 5px;
            padding-right: 5px;
            font-size: small;
        }
        
        .state-color {
            width: 10px;
            // padding: 0px;
            margin-left: -5px;
            margin-top: -5px;
            margin-bottom: -5px;
        }
        
        .state-select {
            margin-left: auto;
            justify-content: center;
            display: flex;
            align-items: center;
        }
        
        .state-config {
            padding-left: 5px;
            padding-right: 5px;
            font-size: larger;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                padding: 4px !important;
            }
        }
    }
}

@media all and (max-width:768px){
    .config-list {
       padding: 0px;
    }
}