.config-list {
    padding: 15px;
    .configs-head {
        padding-bottom: 20px;
    }
    .configs-row {
        display: flex; // border: 1px solid grey;
        border-radius: 2px;
        background-color: white;
        margin-bottom: 5px;
        padding: 5px 0px 5px 5px; // align-items: center;
        .state-step,
        .state-state {
            display: flex;
            align-items: center;
            padding-left: 5px;
            padding-right: 5px;
            font-size: small;
        }
        .state-color {
            width: 10px; // padding: 0px;
            margin-left: -5px;
            margin-top: -5px;
            margin-bottom: -5px;
        }
        .state-select {
            margin-left: auto;
            justify-content: center;
            display: flex;
            align-items: center;
        }
        .state-config {
            padding-left: 5px;
            padding-right: 5px;
            font-size: larger;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                padding: 4px !important;
            }
        }
    }
}

@media all and (max-width:768px) {
    .config-list {
        padding: 0px;
    }
}

.config-editor {
    .panel-heading {
        display: flex;
        align-items: center;
        .show-in-dashboard {
            margin-left: auto;
            display: flex;
            align-items: center;
            font-size: small;
            h4 {
                padding-right: 8px;
            }
        }
    }
    .lights {
        display: flex;
        justify-content: center;
        align-items: center;
        .light {
            display: flex;
            align-items: center;
            padding: 15px;
            .color {
                width: 25px;
                height: 25px;
                border-radius: 50%;
            }
            .text {
                padding-left: 12px;
                padding-right: 12px;
                text-transform: uppercase;
                font-size: small;
            }
            input {
                width: 60px;
                text-align: center;
            }
        }
    }
    .forms-bottom-panel {
        margin-right: 0px !important;
    }
}

@media all and (max-width:768px) {
    .config-editor {
        .config-semaphore {
            margin-top: -15px;
            margin-left: -16px;
            margin-right: -16px;
            border: 0;
            .panel-heading {
                flex-direction: column;
                .title,
                .show-in-dashboard {
                    width: 100%;
                }
                .show-in-dashboard {
                    padding-top: 8px;
                    .switch {
                        margin-left: auto;
                    }
                }
            }
        }
        .lights {
            flex-direction: column;
            align-items: left;
        }
    }
}