.link-status-container {
    margin-top: 8px;
    margin-bottom: -15px;
    .link-status {
        // border-radius: 3px;
        border-top: 1px solid lightgray;
        padding: 6px 15px;
        margin-left: -15px;
        margin-right: -15px;
         :hover {
            color: grey !important;
            text-decoration: none !important;
        }
        a {
            display: flex;
            align-items: center;
             :hover {
                color: grey;
                text-decoration: none;
            }
            div:first-child {
                font-size: x-small;
                flex: 1;
                box-sizing: border-box;
                padding-right: 5px
            }
            .count {
                display: flex;
                font-size: smaller;
                width: 30px;
                height: 30px;
                box-sizing: border-box;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin-left: 4px;
            }
        }
    }
    .link-status:last-child {
        border-bottom: 1px solid lightgray;
    }
}

.head-dashboard-card {
    // padding-right: 10px;
    div {
        display: flex;
        justify-content: space-between;
        font-size: small;
        h4 i {
            width: 25px;
            text-align: center;
        }
    }
}