.images-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .image-container {
        display: inline-block;
        position: relative;
        padding: 4px;
        max-width: 125px;
        max-height: 125px;
        min-width: 125px;
        min-height: 125px;
        width: 125px;
        height: 125px;
        border: 2px solid #e5e6ea;
        border-radius: 5%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
        
        .image-remove {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            color: red;
            position: absolute;
            bottom: 0px;
            right: 0px;
        }
    }
}