

.ideas-list {
    .panel.panel-body{
        display: flex;
    }
    
    .panel-tabs {
        margin-bottom:0px !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        padding-bottom: 0px !important;
    }

    .show-filters{
        margin-bottom: 20px !important;
    }
}

@media all and (max-width:768px){
    .ideas-list {
        .panel.panel-body {
            .btn-action {
                width: 50%;
            }
        }
        .btn-search {
            width: 100% !important;
            margin: 0 !important;
            border-radius: 0 !important;
        }
    }
}