@media all and (max-width: 767px) {

    #main-wrapper {
        padding: 0px 0px 40px 0px !important;
    }

    .person-card {
        display: block !important;
        float: left !important;
        width: 100% !important;
        text-align: center !important;
        .card-single {
            display: block !important;
            float: left !important;
            width: 100% !important;
            text-align: center !important;
            height: 80px !important;
            border-radius: 0px !important;
            margin: 3px 0px !important;
            background-color: rgb(238, 238, 238) !important;
            padding: 5px !important;
            .close-card {
                margin: 0px !important;
                padding: 0px !important;
                display: flex !important;
                position: absolute !important;
                top: 2px !important;
                right: 15px !important;
                border-top-left-radius: 0px !important;
                border-top-right-radius: 0px !important;
                border-bottom-left-radius: 3px !important;
                border-bottom-right-radius: 0px !important;
                opacity: 0.8 !important;
            }
            h2 {
                display: block !important;
                float: left !important;
                width: 80% !important;
                padding: 0px !important;
                margin: 0px 10% 1px 10% !important;
                height: 50% !important;
                text-align: center !important;
                font-size: 0.9em !important;
            }
            hr {
                display: block !important;
                float: left !important;
                width: 100% !important;
                height: 1px !important;
                border-color: white !important;
                border-width: 2px;
            }
            small {
                display: block !important;
                float: left !important;
                width: 90% !important;
                padding: 0px !important;
                margin: 5px 5% 0px 5% !important;
                height: 10% !important;
                text-align: center !important;
                word-wrap: none !important;
                font-size: 0.7em !important;
            }
            h3 {
                display: block !important;
                float: left !important;
                width: 90% !important;
                height: 10% !important;
                text-align: center !important;
                font-size: 0.7em !important;
            }
        }
    }

    .panel-body.ng-binding {
        padding: 10px 0px 0px 0px;
        margin: 0px !important;
        width: 100% !important;
        .datePicker {
            padding: 0px !important;
            width: 90% !important;
            margin: 0px 5% !important;
        }
        .labelPicker {
            padding: 0px !important;
            width: 90% !important;
            margin: 0px 5% !important;
            .form-group {
                div {
                    margin: 5px 5% !important;
                    width: 90% !important;
                }
                button, div button {
                    margin: 5px 7px !important;
                    font-size: 0.8em !important;
                }
            }
        }
        .person-card, row .person-card {
            margin: 0px !important;
        }
        .personSearch, row .person-card {
            width: 100% !important;
            margin: 10px !important;
        }
        .list-group-item {
            font-size: 0.9em !important;
        }
        .stepH2 {
            widows: 90% !important;
            margin: 20px 5% !important;
            font-size: 1em !important;
        }
        .form-group {
            margin: 0px !important;
            padding: 0px !important;
            .states-select {
                margin: 0px !important;
                padding: 0px !important;
                width: 100% !important;
                .state-row {
                    font-size: 0.8em !important;
                }
            }
        }
    }

    .dashboardPanel {
        padding: 0px 15px 15px 10px;
        .panel-heading {
            margin: 0px -15px 0px -10px !important;
        }
        .link-status {
            margin: 0px -30px -30px -30px !important;
            border-left-width: 0px;
            border-right-width: 0px;
        }
    }

    .forms-bottom-panel {
        margin: 15px 20px !important;
    }
    
    .login-box-container {
        .login-box {
            width: 100% !important;
            margin: 0px 0px 0px 0px !important;
            padding: 5px auto 0px auto !important;
            .modal-header {
                padding: -20px 0px 0px 0px !important;
                .page-header {
                    padding: -20px 0px 0px 0px !important;
                    text-align: center !important;
                    font-size: 2em !important;
                    padding: 0px !important;
                }
            }
            .btn {
                margin: 0px !important;
                padding: 5px !important;
                text-align: center !important
            }
            .already-account {
                margin: 20px 0px -20px 0px !important;
                padding: 5px !important;
                text-align: center !important;
                font-size: 0.8em !important;
            }
            .signup {
                FormGroup {
                    padding: 0px !important;
                    margin: 0px !important;
                    text-align: center !important;
                }
            }
        }
    }

    .isDesktop {
        display: none;
    }
}

@media all and (min-width: 768px) {
    .isMobile {
        display: none;
    }
}