#main-wrapper {
    overflow: visible !important;
}

.header-profile {
    display: flex;
}

.img-circle-container {
    display: inline-block;
    position: relative;
    max-width: 174px;
    max-height: 174px;
    width: 174px;
    height: 174px;
    border: 7px solid #e5e6ea;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// profile
.fileupload-container {
    position: absolute;
    bottom: -4px;
    right: -4px;
    .file {
        width: 40px;
        height: 40px;
        font-size: large;
    }
}
.profile-info {
    margin-top: 10px;
}


@media all and (max-width:991px){
    .header-profile {
        flex-direction: column;
    }
    .profile-info {
        text-align: center;
    }
}