#main-wrapper {
    overflow: visible !important;
}

.header-profile {
    display: flex;
}

.img-circle-container {
    display: inline-block;
    position: relative;
}

// profile
.fileupload-container {
    position: absolute;
    bottom: 1px;
    right: 1px;
    .file {
        width: 36px;
        height: 36px;
        font-size: large;
    }
}

@media all and (max-width:768px){
    .header-profile {
        flex-direction: column;
    }
}