#main-wrapper {
    overflow: visible !important;
}

.header-profile {
    display: flex;
}

.img-circle-container {
    display: inline-block;
    position: relative;
}

// profile
.fileupload-container {
    position: absolute;
    bottom: -4px;
    right: -4px;
    .file {
        width: 40px;
        height: 40px;
        font-size: large;
    }
}
.profile-info {
    margin-top: 10px;
}

@media all and (max-width:991px){
    .header-profile {
        flex-direction: column;
    }
    .profile-info {
        text-align: center;
    }
}