.set-state-button-container {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.nexts-container {
    display: flex;
    flex-direction: column;
    .btn {
        text-align: center;
        margin-bottom: 5px;
        width: 100%;
        padding: 15px;
        color: white;
        white-space: normal !important;
        word-wrap: break-word !important;
    }
}