.set-state-button-container {
    margin-bottom: 10px !important;
}

.btn-next-container {
    margin-bottom: 15px;
    .btn-next {
        padding: 5px;
        width: 100%;
        cursor: pointer;
    }
}