@keyframes appear {
    0% {
        opacity: 0;
        transform: scale3d(0, 0, 1);
    }
    50% {
        transform: scale3d(1, 1, 1);
    }
    100% {
        opacity: 1;
    }
}

.ci-item {
    zoom: 0.85;
    box-sizing: border-box;
    width: 100%;
    padding: 1px;
    margin: 0px;
    min-width: 100px;
    background-color: #ffffff !important;
    border: 0px solid black !important;
    .panel-heading {
        width: 100%;
        background-color: white !important;
        border: 0px solid black !important;
        border-bottom: 1px solid #ccd8ff !important;
    }
    .ci-list {
        width: 100%;
        padding: 0px;
        margin: 0px;
        background-color: #ffffff !important;
        border: 0px solid black !important;
        .ci-comment {
            zoom: 0.9;
            box-sizing: border-box;
            padding: 6px 5px 24px 5px !important;
            animation-name: appear;
            animation-duration: 1s;
            margin: 0px;
            margin-bottom: 20px;
            width: 100%;
            border-bottom: 1px solid #DBDBDB;
            .ci-comment-text {
                box-sizing: border-box;
                width: 100%;
                margin: 15px 0px 0px 0px !important;
                padding: 0px 10px !important;
                color: #484848 !important;
                font-size: 18px !important;
                word-wrap: break-word !important;
                font-weight: 200 !important;
                font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
            }
            .ci-comment-info {
                display: flex;
                flex: auto initial;
                box-sizing: border-box;
                padding: 0px;
                margin: 0px;
                width: 100%;
                .ci-comment-views {
                    display: none;
                    flex: auto;
                    padding: 0px;
                    margin: 0px;
                    text-align: right;
                    color: white;
                    b {
                        background-color: #b3bed4;
                        height: 10px;
                        width: 30px;
                        padding: 4px;
                        border-radius: 3px;
                        font-size: 0.9em;
                    }
                }
                .ci-comment-user {
                    box-sizing: border-box;
                    padding: 0px 0px 0px 5px;
                    margin: 0px;
                    display: flex;
                    .ci-comment-img {
                        height: 50px;
                        width: 50px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-color: rgb(130, 145, 189);
                        border-radius: 50%;
                        box-shadow: inset 0px 0px 10px white;
                    }
                    .ci-comment-name {
                        margin: 3px 15px;
                        color: #2a5096;
                        font-size: 1em;
                    }
                    .ci-comment-date {
                        margin: 1px 15px;
                        box-sizing: border-box;
                        color: #849097;
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
    .ci-new {
        display: flex;
        flex: initial auto initial;
        width: 100%;
        margin-bottom: 30px;
        .ci-new-icon {
            margin: 0px 15px;
            background: none;
            border: none;
            cursor: pointer;
        }
        .ci-new-input {
            transition: all 0.3s ease-in-out 0s;
            width: 100%;
            outline: none;
            border: 0px solid black !important;
            border-bottom: 1px solid #DBDBDB !important;
        }
        .ci-new-input:focus {
            outline: none;
            border-bottom: 1px solid rgb(40, 84, 167) !important;
        }
    }
}

.tituloAcordion {
    margin: 20px 0px 10px 0px !important;
}

.ci-ul {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    .ci-a {
        width: 100%;
        margin: 0px;
        padding: 0px;
        background-color: grey;
        text-decoration: none;
        .ci-li {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            box-sizing: border-box;
            width: 100%;
            margin: 5px 0px;
            padding: 5px 5px 0px 5px;
            background-color: rgb(249, 254, 255);
            border-bottom: 1px solid rgb(241, 241, 241);
            transition: all 0.3s ease-in-out 0s;
            .ci-oportunity {
                box-sizing: border-box;
                width: 100%;
                margin: 0px;
                padding: 1px;
                font-size: 1.1em;
                color: #484848;
                text-align: left;
                font-weight: 200;
            }
            .ci-data {
                height: 27px;
                display: flex;
                flex-direction: row;
                .ci-cantNVCom {
                    box-sizing: border-box;
                    width: 100%;
                    margin: 0px;
                    padding: 5px;
                    text-align: right;
                    color: #849097;
                    font-size: 0.8em;
                    font-weight: 100;
                    font-style: italic;
                    .ci-label {
                        margin-left: 10px !important;
                        font-size: 0.9em;
                    }
                }
                .ci-date {
                    box-sizing: border-box;
                    width: 100%;
                    margin: 0px;
                    padding: 5px;
                    color: #849097;
                    text-align: left;
                    font-size: 0.7em;
                    font-weight: 100;
                    font-style: italic;
                }
            }
        }
        .ci-li:hover {
            opacity: 0.8;
            box-shadow: 1px 1px 1px #849097;
        }
    }
}

.pointer {
    cursor: pointer;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.ci-comment-user {
    .colored-avatar {
        zoom: 0.8 !important;
    }
    .img-circle.profile-image {
        zoom: 0.8 !important;
        height: 65px !important;
        width: 65px !important;
    }
    .on.border-dark.animated.bounceIn {
        display: none;
    }
}