#footer {
    @media all and (min-width: 769px) {
        display: none !important;
    }
    display: -ms-flex;
    display: flex;
    position: fixed;
    justify-content: space-around;
    bottom: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    background: #dddddd;
    box-shadow: inset 0px 1px 1px rgb(197, 197, 197);
    .footer-item {
        height: 100%;
        width: 25%;
        background: none;
        .footer-button {
            height: 100%;
            width: 100%;
            border: none;
            background: none;
        }
    }
}