.btn {
    
    border: none !important;
   font-size: 15px !important;
    font-weight: normal !important;
    @include roundBorders(3px !important);
    padding: 8px 14px !important;
    margin-bottom : 5px !important;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear !important;
    transition: border .25s linear, color .25s linear, background-color .25s linear !important;
    &:hover, &:focus {
    outline: none !important;
    }
    &:active, &.active {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline:none!important;
    }
    &.disabled, &[disabled], fieldset[disabled] .btn { 
    background-color: $defaultColor !important;
    color: rgba(255, 255, 255, 0.75) !important;
    opacity: 0.7 !important;
    filter: alpha(opacity=70) !important;
    }
   
}


.btn i{
   padding: 0 5px !important;
}


/* Default Buttons*/
.btn-default, a.btn-default:link, a.btn-default:visited { 
    color: #ffffff !important;
    background-color: $defaultColor !important;
    outline:none !important;
}

a.btn-default:hover, 
a.btn-default:active {
    color: #ffffff !important;
    background-color: $defaultColorHover !important;
    border-color: $defaultColorHover !important;
}

.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active, 
.open .dropdown-toggle.btn-default {
    color: #ffffff !important;
    background-color: $defaultColorHover !important;
    border-color: $defaultColorHover !important;
}

.btn-default:active, 
.btn-default.active, 
.open .dropdown-toggle.btn-default {
    background: $defaultColor !important;
    border-color: $defaultColor !important;
}

.btn-default.disabled, .btn-default[disabled], 
fieldset[disabled] .btn-default, 
.btn-default.disabled:hover, 
.btn-default[disabled]:hover, 
fieldset[disabled] .btn-default:hover, 
.btn-default.disabled:focus, 
.btn-default[disabled]:focus, 
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active, 
fieldset[disabled] .btn-default:active, 
.btn-default.disabled.active, 
.btn-default[disabled].active, 
fieldset[disabled] .btn-default.active {
    background-color: $defaultColor !important;
    border-color: $defaultColor !important;
}

.btn-primary, a.btn-primary:link, a.btn-primary:visited {
    color: #fff !important;
    background-color: $primaryColor !important;
}

a.btn-primary:hover, a.btn-primary:active {
    color: #ffffff !important;
    background-color: $primaryColorHover !important;
    border-color: $primaryColorHover !important;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
    color: #ffffff !important;
    background-color: $primaryColorHover !important;
    border-color: $primaryColorHover !important;
}

.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
    background: $primaryColor !important;
    border-color: $primaryColor !important;
}

.btn-primary.disabled, 
.btn-primary[disabled],
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus,
 .btn-primary.disabled:active, 
 .btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
 .btn-primary.disabled.active,
  .btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active {
    background-color: $primaryColor !important;
    border-color: $primaryColor !important;
}

.btn-info {
    color: #ffffff !important;
    background-color: $infoColor !important;
}

.btn-info, a.btn-info:link,
a.btn-info:visited {
    color: #ffffff !important;
    background-color: $infoColor !important;
}

a.btn-info:hover,
a.btn-info:active {
    color: #ffffff !important;
    background-color: $infoColorHover !important;
}

.btn-info:hover,
.btn-info:focus, 
.btn-info:active,
.btn-info.active, 
.open .dropdown-toggle.btn-info {
    color: #ffffff !important;
    background-color: $infoColorHover !important;
    border-color: $infoColorHover !important;
}

.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background: $infoColor !important;
    border-color: $infoColor !important;
}

.btn-info.disabled,
.btn-info[disabled], 
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover, 
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus, 
.btn-info[disabled]:focus, 
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active, 
.btn-info[disabled]:active, 
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active, 
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: $infoColor !important;
    border-color: $infoColor !important;
}

.btn-danger {
    color: #ffffff !important;
    background-color: $dangerColor !important;
}

.btn-danger:hover, 
.btn-danger:focus,
.btn-danger:active, 
.btn-danger.active, 
.open .dropdown-toggle.btn-danger {
    color: #ffffff !important;
    background-color: $dangerColorHover !important;
    border-color: $dangerColorHover !important;
}

.btn-danger:active, 
.btn-danger.active, 
.open .dropdown-toggle.btn-danger {
    background: $dangerColorHover !important;
    border-color: $dangerColorHover !important;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger, 
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover, 
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus, 
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active, 
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active, 
.btn-danger[disabled].active, 
fieldset[disabled] .btn-danger.active {
    background-color: $dangerColor !important;
    border-color: $dangerColor !important;
}

.btn-success {
    color: #ffffff !important;
    background-color: $successColor !important;
}

.btn-success:hover, 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success {
    color: #ffffff !important;
    background-color: $successColorHover !important;
    border-color: $successColorHover !important;
}

.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success {
    background: $successColor !important;
    border-color: $successColor !important;
}

.btn-success.disabled, 
.btn-success[disabled], 
fieldset[disabled] .btn-success,
.btn-success.disabled:hover, 
.btn-success[disabled]:hover, 
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active, 
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
 fieldset[disabled] .btn-success.active {
    background-color: $successColor !important;
    border-color: $successColor !important;
}

.btn-warning {
    color: #ffffff !important;
    background-color: $warningColor !important;
}

.btn-warning:hover, 
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active, 
.open .dropdown-toggle.btn-warning {
    color: #ffffff !important;
    background-color: $warningColor !important;
    border-color: $warningColor !important;
}

.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background: $warningColorHover !important;
    border-color: $warningColorHover !important;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover, 
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus, 
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active, 
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active, 
.btn-warning[disabled].active, 
fieldset[disabled] .btn-warning.active {
    background-color: $warningColor !important;
    border-color: $warningColor !important;
}

/* 3d Buttons*/
 .btn.btn-3d {
    -webkit-transform: translate(0, 0) !important;
    -moz-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
    @include transition(all, .2s, ease);
}
.btn.btn-3d:active {
    -webkit-transform: translate(0, 3px) !important;
    -moz-transform: translate(0, 3px) !important;
    transform: translate(0, 3px) !important;
}
.btn-default.btn-3d {
    -webkit-box-shadow: 0px 6px 0px #858e93 !important;
    -moz-box-shadow: 0px 6px 0px #858e93 !important;
    box-shadow: 0px 6px 0px #858e93 !important;
}
.btn-default.btn-3d:hover, 
.btn-default.btn-3d:focus {
    background-color: $defaultColor !important;
}
.btn-default.btn-3d:active {
    -webkit-box-shadow: 0px 2px 0px #858e93 !important;
    -moz-box-shadow: 0px 2px 0px #858e93 !important;
    box-shadow: 0px 2px 0px #858e93 !important;
}
.btn-default.btn-3d:hover, .btn-default.btn-3d:focus {
    background-color: $defaultColor !important;
}
.btn-primary.btn-3d {
    -webkit-box-shadow: 0px 6px 0px #4d617f !important;
    -moz-box-shadow: 0px 6px 0px #4d617f !important;
    box-shadow: 0px 6px 0px #4d617f !important;
}
.btn-primary.btn-3d:active {
    -webkit-box-shadow: 0px 2px 0px #4d617f !important;
    -moz-box-shadow: 0px 2px 0px #4d617f !important;
    box-shadow: 0px 2px 0px #4d617f !important;
}
.btn-primary.btn-3d:hover, .btn-primary.btn-3d:focus {
    background-color: $primaryColor !important;
}
.btn-success.btn-3d {
    -webkit-box-shadow: 0px 6px 0px #24aca5 !important;
    -moz-box-shadow: 0px 6px 0px #24aca5 !important;
    box-shadow: 0px 6px 0px #24aca5 !important;
    border: none !important;
}
.btn-success.btn-3d:active {
    -webkit-box-shadow: 0px 2px 0px #24aca5 !important;
    -moz-box-shadow: 0px 2px 0px #24aca5 !important;
    box-shadow: 0px 2px 0px #24aca5 !important;
}
.btn-success.btn-3d:hover, .btn-success.btn-3d:focus {
    background-color: $successColor !important;
}
.btn-info.btn-3d {
    -webkit-box-shadow: 0px 6px 0px #2273a5 !important;
    -moz-box-shadow: 0px 6px 0px #2273a5 !important;
    box-shadow: 0px 6px 0px #2273a5 !important;
}
.btn-info.btn-3d:active {
    -webkit-box-shadow: 0px 2px 0px #2273a5 !important;
    -moz-box-shadow: 0px 2px 0px #2273a5 !important;
    box-shadow: 0px 2px 0px #2273a5 !important;
}
.btn-info.btn-3d:hover, .btn-info.btn-3d:focus {
    background-color: $infoColor !important;
}
.btn-warning.btn-3d {
    -webkit-box-shadow: 0px 6px 0px #dbbd7d !important;
    -moz-box-shadow: 0px 6px 0px #dbbd7d !important;
    box-shadow: 0px 6px 0px #dbbd7d !important;
}
.btn-warning.btn-3d:active {
    -webkit-box-shadow: 0px 2px 0px #d6ae11 !important;
    -moz-box-shadow: 0px 2px 0px #d6ae11 !important;
    box-shadow: 0px 2px 0px #d6ae11 !important;
}
.btn-warning.btn-3d:hover, .btn-warning.btn-3d:focus {
    background-color: $warningColor !important;
}
.btn-danger.btn-3d {
    -webkit-box-shadow: 0px 6px 0px #c94034 !important;
    -moz-box-shadow: 0px 6px 0px #c94034 !important;
    box-shadow: 0px 6px 0px #c94034 !important;
}
.btn-danger.btn-3d:active {
    -webkit-box-shadow: 0px 2px 0px #c94034 !important;
    -moz-box-shadow: 0px 2px 0px #c94034 !important;
    box-shadow: 0px 2px 0px #c94034 !important;
}
.btn-danger.btn-3d:hover, .btn-danger.btn-3d:focus {
    background-color: $dangerColor !important;
}
/* square buttons */
 .btn-square {
   @include roundBorders(0 !important);
}
/* Transparent buttons */
 .btn-default.btn-trans {
    color: $defaultColor !important;
    background-color: transparent !important;
    border: solid thin $defaultColor !important;
}
.btn-default.btn-trans:hover, .btn-default.btn-trans:active, .btn-default.btn-trans:focus {
    color: #fff !important;
    background-color: $defaultColor !important;
    border: solid thin $defaultColor !important;
}
.btn-primary.btn-trans {
    color: $primaryColor !important;
    background-color: transparent !important;
    border: solid thin $primaryColor !important;
}
.btn-primary.btn-trans:hover, .btn-primary.btn-trans:active, .btn-primary.btn-trans:focus {
    color: #fff !important;
    background-color: $primaryColor !important;
    border: solid thin $primaryColor !important;
}
.btn-success.btn-trans {
    color:$successColor !important;
    background-color: transparent !important;
    border: solid thin $successColor !important;
}
.btn-success.btn-trans:hover, .btn-success.btn-trans:active, .btn-success.btn-trans:focus {
    color: #fff !important;
    background-color:$successColor !important;
    border: solid thin $successColor !important;
}
.btn-info.btn-trans {
    color: $infoColor !important;
    background-color: transparent !important;
    border: solid thin $infoColor !important;
}
.btn-info.btn-trans:hover, .btn-info.btn-trans:active, .btn-info.btn-trans:focus {
    color: #fff !important;
    background-color: $infoColor !important;
    border: solid thin $infoColor !important;
}
.btn-warning.btn-trans {
    color: $warningColor !important;
    background-color: transparent !important;
    border: solid thin $warningColor !important;
}
.btn-warning.btn-trans:hover, .btn-warning.btn-trans:active, .btn-warning.btn-trans:focus {
    color: #fff !important;
    background-color: $warningColor !important;
    border: solid thin $warningColor !important;
}
.btn-danger.btn-trans {
    color:$dangerColor !important;
    background-color: transparent !important;
    border: solid thin $dangerColor !important;
}
.btn-danger.btn-trans:hover, .btn-danger.btn-trans:active, .btn-danger.btn-trans:focus {
    color: #fff !important;
    background-color: $dangerColor !important;
    border: solid thin $dangerColor !important;
}
/* Button Sizes */
 .btn-lg {
    padding: 10px 16px !important;
    font-size: $size18px !important;
    line-height: 1.33 !important;
}
.btn-sm {
    padding: 5px 10px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    @include roundBorders(3px !important);
}
.btn-xs {
    padding: 1px 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
   @include roundBorders(3px !important);
}

.dropdown-menu{
    border-radius:2px !important;
    box-shadow: none !important;
    border: 1px solid rgba(0,0,0,.10) !important;
}

.dropdown-menu li a i {
    width: 20px !important;
    color:#989898 !important;
}

.btn-group.toggle{
    .btn-default{
        border:solid thin $defaultColor !important;
    }
    .btn-default.active{
        background: none !important;
        color: $defaultColor !important;
    }
    .btn-default:hover{
        background: $defaultColorHover !important;
        color:#fff !important;
    }
}