.form-steps textarea.form-control {
    height: 100px !important
}
.form-control {
border: 1px solid #DDD !important;
border-radius: 2px !important;
box-shadow: none !important;
height: 37px !important;
padding: 8px 12px 9px 12px !important;
}
.form-control:focus {
background: #fff !important;
border-color: $primaryColor !important;
box-shadow: none !important;
}
select.input-sm, select.form-group-sm .form-control{
    height:auto !important;
}
label.error {
    color: #fff !important;
    background: $dangerColor !important;
    border: solid thin #fff !important;
    padding: 3px 5px !important;
}
label.valid {
    color: #fff !important;
    background: $successColor !important;
    border: solid thin #fff !important;
    padding: 3px 5px !important;
}

//wizard
 .step-content {
    border: 1px solid #D4D4D4 !important;
    border-top: 0 !important;
    @include roundBorders(0 0 4px 4px !important);
    padding: 10px !important;
    margin-bottom: 10px !important;
}
.wizard {
    position: relative !important;
    overflow: hidden !important;
    background-color: #f9f9f9 !important;
    border: 1px solid #d4d4d4 !important;
    @include roundBorders(4px !important);
    *zoom: 1 !important;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065) !important;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065) !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065) !important;
}
.wizard:before, .wizard:after {
    display: table !important;
    line-height: 0 !important;
    content:"" !important;
}
.wizard:after {
    clear: both !important;
}
.wizard ul {
    width: 4000px !important;
    padding: 0 !important;
    margin: 0 !important;
    list-style: none outside none !important;
}
.wizard ul.previous-disabled li.complete {
    cursor: default !important;
}
.wizard ul.previous-disabled li.complete:hover {
    color: #468847 !important;
    cursor: default !important;
    background: #f3f4f5 !important;
}
.wizard ul.previous-disabled li.complete:hover .chevron:before {
    border-left-color: #f3f4f5 !important;
}
.wizard ul li {
    position: relative !important;
    float: left !important;
    height: 46px !important;
    padding: 0 20px 0 30px !important;
    margin: 0 !important;
    font-size: 16px !important;
    line-height: 46px !important;
    color: #999999 !important;
    cursor: default !important;
    background: #ededed !important;
}
.wizard ul li .chevron {
    position: absolute !important;
    top: 0 !important;
    right: -14px !important;
    z-index: 1 !important;
    display: block !important;
    border: 24px solid transparent !important;
    border-right: 0 !important;
    border-left: 14px solid #d4d4d4 !important;
}
.wizard ul li .chevron:before {
    position: absolute !important;
    top: -24px !important;
    right: 1px !important;
    display: block !important;
    border: 24px solid transparent !important;
    border-right: 0 !important;
    border-left: 14px solid #ededed !important;
    content:"" !important;
}
.wizard ul li.complete {
    color: $primaryColor !important;
    background: #f3f4f5 !important;
}
.wizard ul li.complete:hover {
    cursor: pointer !important;
    background: #e1f2ef !important;
}
.wizard ul li.complete:hover .chevron:before {
    border-left: 14px solid #e1f2ef !important;
}
.wizard ul li.complete .chevron:before {
    border-left: 14px solid #f3f4f5 !important;
}
.wizard ul li.active {
    color:$primaryColor !important;
    background: #fff !important;
}
.wizard ul li.active .chevron:before {
    border-left: 14px solid #fff !important;
}
.wizard ul li .badge {
    margin-right: 8px !important;
    border-radius: 30px !important;
}
.wizard ul li:first-child {
    padding-left: 20px !important;
    @include roundBorders( 4px 0 0 4px !important);
}
.wizard .actions {
    position: initial !important;
    z-index: 1000 !important;
    float: right !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    line-height: 46px !important;
    vertical-align: middle !important;
    background-color: #e5e5e5 !important;
    border-left: 1px solid #d4d4d4 !important;
}
.wizard .actions a {
    margin-right: 8px !important;
    font-size: 12px !important;
    line-height: 45px !important;
}
.wizard .actions .btn-prev i {
    margin-right: 5px !important;
    color:#fff !important;
}
.wizard .actions .btn-next i {
    margin-left: 5px !important;
    color:#fff !important;
}
.wizard .actions .btn-prev[disabled] i {
    color: rgba(255, 255, 255, 0.75) !important;
}
.step-content .step-pane {
    display: none !important;
}
.step-content .active {
    display: block !important;
}
.step-content .active .btn-group .active {
    display: inline-block !important;
}
.wizard .steps .badge.badge-info {
    background-color: $primaryColor !important;
}
.wizard .steps .badge.badge-success {
    background-color: $primaryColor !important;
}
.form-group .title {
    text-align: right !important;
}


//angular multi-file upload
.drop-box {
    background: #F8F8F8 !important;
    border: 5px dashed #DDD !important;
    height: 205px !important; 
    text-align: center !important;
    padding-top: 25px !important;
    margin-left: 20px !important;
}

.up-buttons {
    float: left !important;
}

.drop-box.dragover {
    border: 5px dashed blue !important;
}

.drop-box.dragover-err {
    border: 5px dashed red !important;
}

//angular wizard
.ng-wizard{
    margin:10px 0 !important;
    h2{
        margin:15px 0 !important;
    }
}
.rc-nav-wizard > li {
  float: left !important;
  font-size: 18px !important;
}

.rc-nav-wizard > li + li {
  margin-left: 2px !important;
}

.rc-nav-wizard > li > a {
  border-radius: 5px !important;
  cursor: default !important;
  color: $defaultColor !important;
}

.rc-nav-wizard > li > a,
.rc-nav-wizard > li > a:hover,
.rc-nav-wizard > li > a:focus {
  background-color: transparent !important;
}

.rc-nav-wizard > li > a > .badge {
  margin-left: 3px !important;
  font-size: 18px !important;
  padding: 5px 9px !important;
  border-radius: 15px !important;
  color: #ffffff !important;
  background-color: $defaultColor !important;
}

/* active = current wizard step */
.rc-nav-wizard > li.active > a,
.rc-nav-wizard > li.active > a:hover,
.rc-nav-wizard > li.active > a:focus {
  color: $primaryColor !important;
  background-color: transparent !important;
}

.rc-nav-wizard > .active > a > .badge {
  color: #ffffff !important;
  background-color: $primaryColor !important;
}

/* success = completed wizard step */
.rc-nav-wizard > li.success > a,
.rc-nav-wizard > li.success > a:hover,
.rc-nav-wizard > li.success > a:focus {
  color: $successColor !important;
  background-color: transparent !important;
}

.rc-nav-wizard > .success > a > .badge {
  color: #ffffff !important;
  background-color: $successColor !important;
}